.grid-container {
    margin: 5% auto;
}

.grid {
    white-space: pre;
}

button {
    margin: 2px;
}

.navbar {
    background-color: #343a40 !important;
    height: 45px;
    padding: 8px 16px;
}
.heading {
    background-color: #343a40 !important;
    height: 60px;
}
.heading h2 {
    height: 40px;
    font-size: 33px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 10px; 
    padding-bottom: 10px;
}
.btn {
    background-color: #4CAF50;
    /* Green */
    border: 1px solid transparent;
    color: white;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 12px;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}